body {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-color: #235383f5;
}

.btn {
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Dima Yekan Typography';
    font-size: 25px;
    max-width: 250px;
    max-height: 60px;
    border: 0;
    color: #f2e6e6;
    background-color: #2b3233;
    margin-top: 23%;
}

#password {
    color: #fae6e6;
    margin-top: 30px;
    font-size: 1.6rem;
    font-family: Tahoma;
    background-color: #4f474775;
    border-radius: 40px;
}

.dvp {
    color: #d3d3d3;
    font-size: 20px;
    font-family: monospace;
}
